<div style="width:10%; display: inline-block;">

</div>
<div style="width:100%; display: inline-block;">
  <h1>{{ header }}</h1>

  <form [formGroup]="form" #formDirective="ngForm" style="text-align: center;">
    <mat-form-field [style.width.px]="500">
      <mat-label>Пользователь</mat-label>
      <input matInput formControlName="user" maxlength="50" readonly/>
      <mat-hint align="end">{{f['user'].value?.length}} / 50</mat-hint>
      <mat-error *ngIf="f['user'].errors && f['user'].errors['required']">Обязательное поле</mat-error>
    </mat-form-field><br>
    <mat-form-field [style.width.px]="500">
      <mat-label>Дата</mat-label>
      <input matInput formControlName="date" maxlength="50"  readonly/>
      <mat-hint align="end">{{f['date'].value?.length}} / 50</mat-hint>
      <mat-error *ngIf="f['date'].errors && f['date'].errors['required']">Обязательное поле</mat-error>
    </mat-form-field><br>

  </form>

  <h1>Книги</h1>
  <button mat-raised-button style="width: 250px; margin-right: 10px;" (click)="addBook()">Добавить книгу</button>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>
      <ng-container *ngFor="let column of columns; let i = index" [matColumnDef]="column.field">
        <th mat-header-cell *matHeaderCellDef>
          <span *ngIf="i > 0">{{ column.header }}</span>
        </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="i!=columns.length-1">{{ getText(element,column)}}</span>
          <div *ngIf="i==columns.length-1">
            <button mat-icon-button color="primary" (click)="edit(element)" title="Изменить"
              *ngIf="showAction('edit', element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="deleteRow(element)" title="Удалить"
              *ngIf="showAction('delete', element)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <!-- <ng-container *ngFor="let headersFilter of headersFilters; let i = index" [matColumnDef]="headersFilter">
        <th mat-header-cell *matHeaderCellDef>
          <div class="filters-container" [class.animate]="toggleFilters">
            <mat-form-field *ngIf="i > 0 && i < columns.length-1" appearance="outline" [style.width.px]="columnWidth()"
              style="margin-top:10px; margin-bottom:-10px">
              <input h matInput placeholder="'Enter' для поиска" [(ngModel)]="filtersModel[i]"
                (keyup.enter)="searchColumns()" />
            </mat-form-field>
          </div>
        </th>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="headers"></tr>
      <!-- Start: Add below "tr" for displaying filters -->
      <!-- <tr mat-header-row class="no-default-height" *matHeaderRowDef="headersFilters"></tr> -->
      <!-- End: Add above "tr" for displaying filters -->
      <tr mat-row *matRowDef="let row; columns: headers"></tr>
    </table>
  </div>

</div>
<div style="width:100%; display: inline-block; text-align: right;">
  <button mat-raised-button style="width: 150px; margin-right: 10px;" (click)="cancel()">Отмена</button>
  <button mat-raised-button style="width: 150px; margin-right: 10px;" (click)="save()">Сохранить</button>
</div>