<mat-card>
    <mat-card-header>
        <div style="width: 100%; margin-bottom: 20px;">
            <div class="headerText">
                Информация
            </div>
            <div class="closeModal">
                <button mat-icon-button (click)="onClose()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
    </mat-card-header>
    <div style="padding: 30px;">
        <div style="width: 100%; text-align: center;">
            <img src="{{this.data.item.poster}}"
                style="max-width: 100%; padding: 20px; border:1px solid grey">
        </div>

        <div style="width: 100%;">
            <table>
                <tr>
                    <td style="width: 120px; margin-bottom: 10px;"><b>Наименование:</b></td>
                    <td>{{this.data.item.title}}</td>
                </tr>
                <tr>
                    <td style="width: 120px; margin-bottom: 10px;"><b>Описание:</b></td>
                    <td>{{this.data.item.description}}</td>
                </tr>
                <tr>
                    <td style="width: 120px; margin-bottom: 10px;"><b>Цена:</b></td>
                    <td>{{this.data.item.price}}</td>
                </tr>
                <tr>
                    <td style="width: 120px; margin-bottom: 10px;"><b>Год публикации:</b></td>
                    <td>{{this.data.item.publicationYear}}</td>
                </tr>
                <tr>
                    <td style="width: 120px; margin-bottom: 10px;"><b>Автор:</b></td>
                    <td>{{this.data.item.author!.firstName! + ' ' + this.data.item.author!.secondName!}}</td>
                </tr>
                <tr>
                    <td style="width: 120px; margin-bottom: 10px;"><b>Категория:</b></td>
                    <td>{{this.data.item.category!.name}}</td>
                </tr>
                <tr>
                    <td style="width: 120px; margin-bottom: 10px;"><b>Состояние:</b></td>
                    <td>{{this.data.item.condition!.name}}</td>
                </tr>
                <tr>
                    <td style="width: 120px; margin-bottom: 10px;"><b>Публикация:</b></td>
                    <td>{{this.data.item.publisher!.name}}</td>
                </tr>
            </table>
        </div>
    </div>

</mat-card>