<div class="content">
  <ng-container>
    <div id="language-bar" style="display: flex; justify-content: start; margin-bottom: 10px;">
      <mat-icon (click)="sidenav.toggle(); this.isShowing = !this.isShowing;" style="z-index: 99;">menu</mat-icon>
    </div>
    <mat-sidenav-container>
      <mat-sidenav #sidenav [opened]="isShowing">
        <mat-nav-list>

          <a mat-list-item *ngIf="checkUser('user') && checkAdmin('user')" (click)="navigate('/user')">Пользователи</a>
          <a mat-list-item (click)="navigate('/author')">Авторы</a>
          <a mat-list-item (click)="navigate('/category')">Категории</a>
          <a mat-list-item (click)="navigate('/book')">Книги</a>
          <a mat-list-item (click)="navigate('/condition')">Состояния</a>
          <a mat-list-item (click)="navigate('/publisher')">Публикации</a>
          <a mat-list-item *ngIf="checkUser('user')" (click)="navigate('/order')">Заказы</a>

        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <div style="height: calc(100vh - 50px);">
          <router-outlet></router-outlet>
          <!-- <app-table-view></app-table-view> -->
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </ng-container>
</div>