<main>
  <div class="intro">
    <h1>Букинический магазин</h1>
    <p>Магазин - где ты найдешь даже самые редкие экземпляры.</p>
  </div>
  <div class="achievements">
    <div class="work">
      <i class="fas fa-atom"></i>
      <p class="work-heading">Авторы</p>
      <p class="work-text">Собраны самые самые авторы.</p>
    </div>
    <div class="work">
      <i class="fas fa-skiing"></i>
      <p class="work-heading">Жанры</p>
      <p class="work-text">Собраны самые самые жанры.</p>
    </div>
    <div class="work">
      <i class="fas fa-ethernet"></i>
      <p class="work-heading">Публикации</p>
      <p class="work-text">Собраны самые самые публикации.</p>
    </div>
  </div>
</main>
